{# 导航栏组件 #}
<nav class="fixed top-0 left-0 w-full transition-transform duration-300 translate-y-0 z-50" id="pageNav">
	{# 桌面端导航栏 #}
	<div class="hidden md:flex max-w-6xl mx-auto items-center justify-between pb-6 pt-4">
		<a href="{{ url_for('main.index') }}">
			<img class="w-[256px] transition-all duration-300 ease-in-out" id="navLogo"
				src="{{ url_for('static', filename='images/icons/logo-2-white.DyAUH4zT.svg') }}" />
		</a>
		<ul class="flex space-x-10 mt-5">
			<li>
				<a class="uppercase font-medium text-xl text-white tracking-wider"
					href="{{ url_for('main.asia_educational') }}">Students</a>
			</li>
			<li>
				<a class="uppercase font-medium text-xl text-white tracking-wider"
					href="{{ url_for('main.asia_family') }}">Family</a>
			</li>
			<li>
				<a class="uppercase font-medium text-xl text-white tracking-wider"
					href="{{ url_for('main.asia_business') }}">Business</a>
			</li>
		</ul>
		<a class="inline-block mt-5 bg-zinc-400 border-2 border-white px-6 py-2 text-lg text-white uppercase font-medium tracking-wide"
			href="{{ url_for('main.contact') }}">Contact Us</a>
	</div>

	{# 移动端导航栏 #}
	<div class="md:hidden max-w-6xl pb-5 pt-4">
		<div>
			<a href="{{ url_for('main.index') }}">
				<img class="w-[180px] mx-auto"
					src="{{ url_for('static', filename='images/icons/logo-2-white.DyAUH4zT.svg') }}" />
			</a>
			<button class="absolute right-4 top-8" id="smNavBtn">
				<svg class="w-6 h-6" fill="none" id="nav-open" stroke="#ffffff" viewbox="0 0 24 24">
					<path d="M4 6h16M4 12h16M4 18h16" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
					</path>
				</svg>
				<svg class="w-6 h-6 hidden" fill="none" id="nav-close" stroke="#ffffff" viewbox="0 0 24 24">
					<path d="M6 18L18 6M6 6l12 12" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
					</path>
				</svg>
			</button>
		</div>
		<div class="hidden mt-5 p-4 grid grid-cols-2 gap-4" id="smNav">
			<a class="pl-10 uppercase font-medium text-white tracking-wide"
				href="{{ url_for('main.asia_educational') }}">Students</a>
			<a class="pl-10 uppercase font-medium text-white tracking-wide"
				href="{{ url_for('main.asia_index') }}">Asia</a>
			<a class="pl-10 uppercase font-medium text-white tracking-wide"
				href="{{ url_for('main.asia_family') }}">Family</a>
			<a class="pl-10 uppercase font-medium text-white tracking-wide"
				href="{{ url_for('main.north_america_index') }}">North America</a>
			<a class="pl-10 uppercase font-medium text-white tracking-wide"
				href="{{ url_for('main.asia_business') }}">Business</a>
			<a class="pl-10 uppercase font-medium text-white tracking-wide" href="{{ url_for('main.mindx') }}">Mindx</a>
			<div class="col-span-2 text-center">
				<a class="inline-block mt-4 bg-zinc-400 border-2 border-white px-6 py-2 text-white uppercase font-medium tracking-wide"
					href="{{ url_for('main.contact') }}">Contact Us</a>
			</div>
		</div>
	</div>
</nav>
{# 导航栏JavaScript在base.html中引入 #}