<!DOCTYPE html>
<html lang="en">

<head>
	{% include 'includes/meta.html' %}
	{% block extra_head %}{% endblock %}
</head>

<body class="{% block body_class %}{% endblock %}">
	{% block nav %}{% include 'includes/nav.html' %}{% endblock %}
	
	<main>
		{% block content %}{% endblock %}
	</main>
	
	{% include 'includes/footer.html' %}
	
	{# JavaScript文件 #}
	<script type="module" src="{{ url_for('static', filename='js/navigation.js') }}"></script>
	{% block extra_scripts %}{% endblock %}
</body>

</html>


