<!DOCTYPE html>
<html lang="en">

<head>
	{% include 'includes/meta.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/site-nav.css') }}?v=receipt-btn">
	{% block extra_head %}{% endblock %}
</head>

<body class="{% block body_class %}{% endblock %}">
	{% block nav %}{% include 'includes/nav.html' %}{% endblock %}
	
	<main>
		{% block content %}{% endblock %}
	</main>
	
	{% include 'includes/footer.html' %}
	
	{% block nav_scripts %}
	<script type="module" src="{{ url_for('static', filename='js/home-preview-nav.js') }}"></script>
	{% endblock %}
	{% block extra_scripts %}{% endblock %}
</body>

</html>
